* {
  margin: 0;
  padding: 0;
  font-family: "MuseoModerno", cursive;
}

:root {
  --text-color: #000;
  --bg-color: #e5e5e5;
  --second-color: #fff;
  --big-font: 5.5rem;
  --p-font: 1rem;
  --main-color: #f29494;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

header {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-top: 5%;
}

.links {
  list-style: none;
}
